<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="col-4 m-auto border border-4 bg-light mt-5 p-3">
        <h3 class="text-center text-danger">Event Form</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="book" class="btn btn-secondary col-5">
            <input type="reset" value="cancel" class="btn btn-dark text-white float-end col-5">
        </form>
    </div>

</body>
</html>